<%=form_for @volunteer, :html => { :class => "new_volunteer group" } do  |v| %>
  <div class="span-12">
    <div><%=v.label :first_name, "First Name" %><%=v.text_field :first_name %></div>
    <div><%=v.label :last_name, "Last Name" %><%=v.text_field :last_name %></div>
    <div><%=v.label :email %><%=v.email_field :email %></div>
    <div><%=v.label :telephone, "Phone" %><%=v.telephone_field :phone %></div>
    <div class="mobile_check group"><%=v.check_box :is_mobile %><%=v.label :is_mobile,"Is this a mobile number?" %></div>
    <div class="zip_field"><%=v.label :zip %><%=v.number_field :zip %></div>
    <% if @volunteer.neighborhood_id.nil? %>
      <div class="neighborhood_selector">
        <div><%=v.label :neighborhood_id, "Available Neighborhoods:" %></div>
        <div><%=v.select :neighborhood_id, Neighborhood.all.collect {|p| [ p.name, p.id ] }, {:include_blank => true} %></div>
      </div>
    <% else %>
      <div><span class="assigned_label">Team Leader:</span>&nbsp;##insert team lead here##</div>
      <div><span class="assigned_label">Assigned Neighborhood:</span>&nbsp;<%=@volunteer.neighborhood.name %></div>
    <% end %>
  </div>

  <div class="prepend-1 span-10 append-1 last">
    <% if @volunteer.neighborhood_id.nil? %>
      <div class="map_thumb"><%= link_to(image_tag("maps/small/bozeman.png", :alt => "Neighborhood Map", :class => "map_image"), "/assets/maps/small/bozeman.png", :class => 'map_link', :rel => 'maps', :title => "Bozeman") %></div>
    <% else %>
      <div class="map_thumb"><%=link_to(image_tag("maps/small/%d.png" % @volunteer.neighborhood.id, :alt => "Neighborhood Map", :class => "map_image"), "/assets/maps/%d.png" % @volunteer.neighborhood.id, :class => 'map_link', :rel => 'maps', :title => @volunteer.neighborhood.name) %></div>
    <% end %>
  </div>

  <div class="span-4 append-20 last">
    <div><%=v.submit "Volunteer!" %></div>
  </div>
<% end %>
