<%=form_for @volunteer, :html => { :class => "new_volunteer group" } do  |v| %>
  <div class="span-24 last">
    <div class="span-12 last">
      <% if !@error_message.nil? %>
        <div class="error_message"><%= @error_message %></div>
      <% end %>
      <div><%=v.label :first_name, "First Name *" %><%=v.text_field :first_name %></div>
      <div><%=v.label :last_name, "Last Name *" %><%=v.text_field :last_name %></div>
      <div><%=v.label :email, "Email *" %><%=v.email_field :email %></div>
      <div><%=v.label :telephone, "Phone *" %><%=v.telephone_field :phone %></div>
      <div class="mobile_check group"><%=v.check_box :is_mobile %><%=v.label :is_mobile,"Is this a mobile number?" %></div>
      <div class="zip_field"><%=v.label :zip, "Zip *" %><%=v.number_field :zip %></div>
      <% if @volunteer.neighborhood_id.nil? %>
        <div>If you don't see your neighborhood listed below, that is because someone has already signed up to cover it.</div>
        <div class="neighborhood_selector">
          <div><%=v.label :neighborhood_id, "Available Neighborhoods *" %></div>
          <div><%=v.select :neighborhood_id, options_for_select(Neighborhood.where('volunteer_id IS NULL').order("name ASC").collect {|p| [ p.name, p.id, {'data-file-id' => p.file_id}]}), {include_blank: true} %></div>
        </div>
      <% else %>
        <div><span class="assigned_label">Team Leader:</span>&nbsp;##insert team lead here##</div>
        <div><span class="assigned_label">Assigned Neighborhood:</span>&nbsp;<%=@volunteer.neighborhood.name %></div>
      <% end %>
    </div>

    <div class="prepend-1 span-10 append-1 last">
      <% if @volunteer.neighborhood_id.nil? %>
        <div class="map_thumb"><%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/small/bozeman.png", :alt => "Neighborhood Map", :class => "map_image"), "https://s3.amazonaws.com/media.thegiftoffood.org/small/bozeman.png", :class => 'map_link', :rel => 'maps', :title => "Bozeman") %></div>
      <% else %>
        <div class="map_thumb"><%=link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/small/%d.jpg" % @volunteer.neighborhood.file_id, :alt => "Neighborhood Map", :class => "map_image"), "https://s3.amazonaws.com/media.thegiftoffood.org/maps/%d.jpg" % @volunteer.neighborhood.file_id, :class => 'map_link', :rel => 'maps', :title => @volunteer.neighborhood.name) %></div>
      <% end %>
    </div>
  </div>

  <div class="prepend-3 span-6 last">
    <%=v.submit "Volunteer!", :disabled => true %>
  </div>
<% end %>
