<% if @volunteer.valid? %>
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <h1>Thank You</h1>
      <p>Thank you for volunteering! Watch your email inbox for a confirmation email and further instructions. We look forward to seeing everybody on April 1st.</p>
    </div>
  </div>

  <% if !@volunteer.neighborhood.nil? %>
    <div class="columns">
      <div class="column is-10 is-offset-1 map_image_area">
        <%= image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/%s.jpg" % @volunteer.neighborhood.file_id, :alt => "Neighborhood Map", :class => "map_image", :width => "950") %>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <%= link_to "Detailed event information document", "/2018+Volunteer+Coordination+Plan.docx" %>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <%= link_to "Perma-link to this map", "/volunteers/maps?neighborhood=%d" % @volunteer.neighborhood.id %>
      </div>
    </div>

    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h3>Safety Information:</h3>
        <p>Be careful crossing busy streets. Watch out for ice on driveways and sidewalks.</p>
      </div>
    </div>
  <% end %>

  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div><%=link_to "Return to the Main Page", :root %></div>
    </div>
  </div>
<% else %>
  <h1>There was an error</h1>
  <div class="errors_list">
    <% @volunteer.errors.full_messages.each do |m| %>
      <div><%= m %></div>
    <% end %>
  </div>
  <p>We're sorry but it looks like there was an error processing your request. Could you please return, enter correct any issues and submit again.</p>
  <p>Thank you.</p>
<% end %>
