<% if !@hood.nil? %>
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <h1>Neighborhood Map</h1>
    </div>
  </div>

  <div class="columns">
    <div class="column is-10 is-offset-1">
      <h4><%= @hood.name %></h4>
    </div>
  </div>

  <div class="columns">
    <div class="column is-10 is-offset-1">
      <p>Thank you for volunteering! <%= link_to "Detailed event information document", "/2017+Volunteer+Coordination+Plan.docx" %></p>
      <p></p>
    </div>
  </div>

  <div class="map_image_area">
    <%= image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/%s.jpg" % @hood.file_id, :alt => "Neighborhood Map", :class => "map_image", :width => "950") %>
  </div>

  <div class="columns">
    <div class="column is-10 is-offset-1">
      <h3>Safety Information:</h3>
      <p>Be careful crossing busy streets. Watch out for ice on driveways and sidewalks.</p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-10 is-offset-1">
      <%=link_to "Return to the Main Page", :root %>
    </div>
  </div>
<% else %>
  <h1>There was an error</h1>
  <p>We're sorry but it looks like there was an error processing your request.</p>
  <p><%= @error_message %></p>
  <p>Thank you.</p>
<% end %>
