<div class="span-6">
	<h1><%= image_tag('sff_logo.jpg', alt: "Spring For Food", width: 200) %></h1>
</div>

<div class="span-18 last">
	<ul id="event_info">
		<li><span>When:</span>April 11th, 2015</li>
		<li><span>Time:</span>10am - 1pm</li>
		<li><span>Where:</span>Bozeman and Belgrade, Montana</li>
		<li><span>Goal:</span>125 volunteer teams to collect food for the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org", :target => "_blank" %></li>
	</ul>
</div>

<div class="prepend-1 span-22 last">
  <%= image_tag('https://s3.amazonaws.com/media.thegiftoffood.org/foodbankchart.jpg', alt: 'Chart show food drive intake for Gallatin Valley Food Bank', class: 'main_event_photo') %>
</div>

<div class="span-24 last">
	<h2>Come and join us!</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>Invite your family and friends to join you on a pleasant Spring day of giving back to your community. Your contribution will go far to support the over 1,200 local families that receive emergency food boxes each month.</p>
	</div>

  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-1.jpg", :class => "event_photo"), "/assets/photos/2010-1.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-2.jpg", :class => "event_photo"), "/assets/photos/2010-2.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag('photos/thumbs/2010-5.jpg', class: 'main_event_photo'), "/assets/photos/2010-5.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-3.jpg", :class => "event_photo"), "/assets/photos/2010-3.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-4.jpg", :class => "event_photo"), "/assets/photos/2010-4.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4 last">
    <%= link_to(image_tag("photos/thumbs/2010-6.jpg", :class => "event_photo"), "/assets/photos/2010-6.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
</div>

<div class="span-24 last">
	<h2>Volunteer</h2>
	<div class="prepend-2 span-20 append-2 last">
    <h3><%=@volCount%>/125 volunteer teams = <%=number_to_percentage(@volPercent,:precision => 0)%> of our goal</h3><br/>
    <h4>We need your help!</h4>

    <p>Please fill out the volunteer form below and select a neighborhood close to where you live. Volunteers will be expected to pull together a small group of friends and family to join them in making this event a huge success.</p>


		<h4>What we are asking:</h4>

		<ol>
			<li><b>Week before the event:</b> Distribute grocery bags to the houses in your selected neighborhood</li>
			<li><b>Day of the event:</b> Collect bags from all of the houses in your selected neighborhood. Drop the bags at your assigned drop-off location.</li>
		</ol>

    <p><b>Distributing grocery bags in the week before the event increases the amount of food donated tenfold!</b></p>

		<p>On the day of the event, you and your team should check-in at your assigned drop-off location between 9:30 - 10:30am, receive lanyards for team members, and then set out to collect food from your selected neighborhood. When your team has picked up every last can in your neighborhood, return to the drop-off location to celebrate and fill our semi-trucks full of food!</p>

	</div>
	<div class="span-24 last">
		<%= render 'volunteers/new' %>
	</div>
</div>

<div class="span-24 last">
  <h2>Donate</h2>

  <div class="span-24 last">
    <p>If you would like to make a monetary donation this year you have two options. Simply text <b>"GVFB"</b> to <b>41444</b> or donate via the Gallatin Valley Food Bank's secure site.</p>
    <p><%= link_to 'Donate to the Food Bank', donate_path, :class => "donate_link" %></p>
  </div>
</div>

<div class="span-24 last">
  <h2>Gallatin Valley Food Bank</h2>

	<div class="prepend-2 span-20 append-2 last">
    <p>Gallatin Valley Food Bank – From July 1, 2013 to June 30, 2014 statistics.</p>
    <p>GVFB Mission: To improve food security throughout Gallatin Valley and Southwest Montana</p>
		<ul>
      <li>The Gallatin Valley Food Bank serves an average 1,205 households (roughly 2,745 individuals) a month through the Emergency Food Box Program at our Bozeman location and our satellite service in Belgrade.</li>
      <li>In the 2013-2014 fiscal year the Gallatin Valley Food Bank and our satellite site in Belgrade distributed 14,460 food boxes. During this same period, the Headwaters Area Food Bank and the Big Sky Community Food Bank provided 1,418 food boxes to families in need.</li>
      <li>On average, 5,402 pounds (2.7 tons) of food are distributed to families every day through the Gallatin Valley Food Bank.</li>
      <li>During the 13/14 fiscal year the Gallatin Valley Food Bank distributed 1,984,521.9 pounds of food.</li>
      <li>Out of the total, 455,668 pounds of food went to other area non-profits, the Community Café, CSFP and KidsPack. All this took an extraordinary effort by hundreds of volunteers and dedicated staff.</li>
      <li>In 13/14, the food rescue program collected 1,036,017 pounds of food from area grocery stores.</li>
      <li>During 13/14 fiscal year, the Community Café provided 42,157 meals to 27,092 customers, out of this total, 4,052 were children and 3,731 were seniors.</li>
      <li>The Summer Meals Program provided breakfast at 3 sites, lunch at 6 sites, and supper at 1 site, serving a total of 10,898 meals to children.</li>
      <li>Volunteers are vital to fighting hunger. Our volunteers are the backbone of our efforts, during the last fiscal year our volunteers contributed 16,035 hours.  If we add the Community Café & Kidspack the volunteer contribution grows to 21,941 hours.</li>
      <li>During the 2013-14 school year the KidsPack program reached an average of 750 kids every Friday serving areas as far as Boulder, Twin Bridges, and Ennis, Montana.  This equates to 25,809 KidsPacks distributed during the 2013-14 school year!</li>
		</ul>
    <p>These are the Food and Nutrition Programs of the Human Resource Development Council.  By assisting with Spring for Food you help so many!</p>
	</div>

  <div class="prepend-7 span-10 append-7 last">
    <%= link_to(image_tag('food_bank_logo.png', :alt => "Gallatin Valley Food Bank", :class => "food_bank_logo"), "http://www.gallatinvalleyfoodbank.org") %>
  </div>
</div>

<div class="span-24 last">
	<h2>Principal Sponsors</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>The event is brought to you by the generous support of <%= link_to "Cardinal Distributing", "http://www.cardinaldistributing.com", :target => "_blank" %>, <%= link_to "Big Sky Western Bank", "https://www.bigskybank.com", :target => "_blank" %>, and <%= link_to "KBZK", "http://www.kbzk.com", :target => "_blank" %> in conjunction with the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org", :target => "_blank" %>.</p>
	</div>
	<div class="prepend-3 span-4 append-1">
		<%= link_to(image_tag('bigskywb.jpg', :alt => "Big Sky Western Bank Logo", :class => "sponsor_image"), "https://www.bigskybank.com") %>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('cardinal.jpg', :alt => "Cardinal Distributing Logo", :class => "sponsor_image"), "http://www.cardinaldistributing.com") %>
	</div>
	<div class="prepend-1 span-4 append-3 last">
    <%= link_to(image_tag('kbzk.png', :alt => "KBZK Logo", :class => "sponsor_image"), "http://www.kbzk.com") %>
	</div>
</div>

