<div class="columns">
  <div class="column is-one-fifth">
    <h1><%= image_tag('sff_logo.jpg', alt: "Spring For Food", width: 200) %></h1>
  </div>

  <div class="column">
    <ul id="event_info">
      <li><span>When:</span>April 6th, 2019</li>
      <li><span>Time:</span>10am - 4pm</li>
      <li><span>Where:</span>Grocery stores around Bozeman and Belgrade, Montana</li>
      <li><span>Goal:</span>15,000 lbs. of food donations to benefit the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org", :target => "_blank" %> and childhood nutrition programs</li>
    </ul>
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1 main_image_area">
    <%= image_tag('piechart-2019.jpg', alt: 'Chart show food drive intake for Gallatin Valley Food Bank', class: 'main_event_photo') %>
  </div>
</div>

<div class="columns">
  <div class="column is-8 is-offset-2">
    <h2>Come and join us</h2>
    <div class="prepend-2 span-20 append-2 last">
      <p>It’s easy to get involved.  Invite your family and friends to join you on April 6th to collect food at one of ten grocery stores in our area. Your contribution will support over 1,200 local families that receive emergency food boxes each month, not to mention specific programs like KidsPack and Kids’ Pantries, which helps prevent hunger for our area school children. This year’s Spring for Food Drive has a companion event: Childhood Hunger Awareness Week. This means we’re going to do it a little differently.</p>
      <p>If you’ve volunteered or donated in the past, then you know that Spring for Food is usually a door-to-door collection process. That’s changing this year. We’re setting up central donation points at every supermarket in Bozeman and Belgrade so that people can donate as they’re shopping. To volunteer click <%= link_to('HERE', 'https://hrdc9.galaxydigital.com/need/?s=1&need_init_id=1458') %></p>
      <p>In addition, we hope to have a donation bin at every school, from Wednesday, April 3rd until Wednesday, April 10th (<%= link_to('Wear Orange Wednesday', 'http://serve.mt.gov/ServeMT/fight-childhood-hunger/fight-childhood-hunger-week') %>), so that kids can participate as well (Check the GVFB Website for participating schools). We think this will streamline the process and boost donations. With your family’s help, we can drastically reduce childhood hunger in our community and ensure that the food bank is able to provide healthy food to anyone who needs it. Check back for a list of participating schools.</p>
      <p>To learn more about Childhood Hunger Awareness week and the fight to end food insecurity for Children in Montana, click <%= link_to('HERE', 'http://serve.mt.gov/ServeMT/fight-childhood-hunger') %>.</p>
      <h3 class="facebook-link"><a href="https://www.facebook.com/springforfood">Join Us On Facebook</a></h3>
    </div>

    <h2>Volunteer</h2>
    <div class="prepend-2 span-20 append-2 last">
      <p>Please fill out the volunteer form below and select a grocery store close to where you live. Volunteers are encouraged to pull together a small group of friends and family to join them in making this event a huge success.</p>
      <p>What we are asking:</p>
      <ol>
        <li><strong>Before the Event:</strong> Sign up on the form below to register at one of ten local grocery stores for a two-hour shift. This is a large volunteer effort, so please make sure you are available at the time you sign up for, as rescheduling will be a challenge.</li>
        <li><strong>The Day of the Event:</strong> Show up at the supermarket you’ve signed up for. Employees of the food bank or volunteers from the previous shift will provide training. Volunteers will be responsible for handing out wish lists of desired donation items and receiving donations in our watermelon bins.</li>
        <li><strong>After the Event:</strong> As the food drive winds down, a truck or van will come to your location to pick up our food bins. The final volunteer shift (2 PM - 4:15 PM) will be responsible for waiting until the truck arrives. We expect all pick-up vehicles to arrive before 4:15 but, if you are on the last shift, make sure your schedule is flexible in case there are unanticipated delays.</li>
      </ol>

      <p>To volunteer with Spring for Food click <%= link_to('HERE', 'https://hrdc9.galaxydigital.com/need/?s=1&need_init_id=1458') %></p>

      <h3>Monetary Donation:</h3>
      <p>Monetary donations support the purchase of food products for our shelves. If you are unable to participate this year and would like to contribute, consider making a monetary donation towards this year's food drive, you can do so through the <%= link_to('Gallatin Valley Food Bank\'s secure website', 'https://gallatinvalleyfoodbank.org/give-help/') %>.</p>
    </div>
  </div>
</div>

<div class="columns event_photos">
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/helicopter.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/helicopter.jpg", :class => 'photo_link', :rel => 'Photos') %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/dog-bone.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/dog-bone.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/2010-5.jpg", class: 'main_event_photo'), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/2010-5.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/truck.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/truck.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/loading-box.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/loading-box.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/2010-6.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/2010-6.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
</div>

<div class="columns">
  <div class="column is-8 is-offset-2">
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <h2>Gallatin Valley Food Bank</h2>

    <div class="">
      <p><strong>GVFB Mission:</strong> To improve food security throughout Gallatin Valley and Southwest Montana</p>
      <p>HRDC – Food and Nutrition Programs include <%= link_to('Gallatin Valley Food Bank', 'https://gallatinvalleyfoodbank.org/') %>, <%= link_to('Summer Lunch', 'https://gallatinvalleyfoodbank.org/get-help/summer-meals/') %>, <%= link_to('Healthy Kidspack', 'https://gallatinvalleyfoodbank.org/2018/08/support-healthy-kidspack/') %>, <%= link_to('Senior Groceries', 'https://gallatinvalleyfoodbank.org/get-help/senior-nutrition/') %>, <%= link_to('Big Sky Community Food Bank', 'https://bigskyfoodbank.org/') %> and <%= link_to('Headwaters Area Food Bank', 'https://thehrdc.org/how-we-help/food-nutrition/headwaters-food-bank/') %></p>
      <ul>
        <li>During the 2017-2018 fiscal year, the Gallatin Valley Food Bank distributed 2,002,170 pounds of food.</li>
        <li>The Gallatin Valley Food Bank serves an average 1240 households (roughly 3,228 individuals) every month through the Emergency Food Box Program at our Bozeman location and our satellite service in Belgrade.</li>
        <li>On average, 7,435 pounds (3.71 tons) of food is distributed to families every day.</li>
        <li>15% of households are single-parent families, 29% of households have at least one child, and 30% are under 18.</li>
        <li>Out of that total, 137,097 pounds of food went to other area non-profits, the Fork and Spoon, CSFP and KidsPack. This took an extraordinary effort by hundreds of volunteers and dedicated staff.</li>
        <li>Volunteers are vital to fighting hunger. Our volunteers are the backbone of our efforts and during the last fiscal year, our volunteers contributed tens of thousands of hours to help alleviate hunger in the Gallatin Valley.</li>
      </ul>
      <p>Thank you for contributing your time, energy, and donations to Spring for Food 2019!</p>
    </div>

    <div class="food_bank_logo_area">
      <%= link_to(image_tag('food_bank_logo.png', :alt => "Gallatin Valley Food Bank", :class => "food_bank_logo"), "http://www.gallatinvalleyfoodbank.org") %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <h2>Principal Sponsors</h2>
    <p>The event is brought to you by the generous support of <%= link_to "Cardinal Distributing", "http://www.cardinaldistributing.com", :target => "_blank" %>, <%= link_to "First Security Bank", "https://www.ourbank.com", :target => "_blank" %>, and <%= link_to "KBZK", "http://www.kbzk.com", :target => "_blank" %> in conjunction with the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org", :target => "_blank" %>.</p>
  </div>
</div>

