<div class="span-12">
	<h1><%= image_tag('logo.jpg', :alt => "The Gift of Food") %></h1>
</div>

<div class="span-12 last">
	<ul id="event_info">
		<li><span>When:</span>December 10, 2011</li>
		<li><span>Time:</span>10am - Noon</li>
		<li><span>Where:</span>Bozeman and Belgrade, Montana</li>
		<li><span>Goal:</span>500 volunteers to collect 45,000 pounds of food for the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org" %></li>
	</ul>
</div>

<div class="span-24 last">
	<h2>Come Join Us</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>Invite your family and friends to join you on a crisp December day of giving back to your community. In its first year, the event raised 14,000 pounds of food and $2,000 for the Gallatin Valley Food Bank. This year, we have set our sights on becoming the Valley's biggest food drive by tripling our impact and raising 45,000 pounds of food. A contribution of this size equates to 5% of the Gallatin Valley Food Bank's annual supply and compliments the US Postal Service Food Drive that occurs in April.</p>
	</div>
  
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-1.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-1.jpg", :class => 'photo_link', :rel => '2010Photos', :title => "Photos from The Gift of Food 2010") %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-2.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-2.jpg", :class => 'photo_link', :rel => '2010Photos', :title => "Photos from The Gift of Food 2010") %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-3.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-3.jpg", :class => 'photo_link', :rel => '2010Photos', :title => "Photos from The Gift of Food 2010") %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-4.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-4.jpg", :class => 'photo_link', :rel => '2010Photos', :title => "Photos from The Gift of Food 2010") %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-5.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-5.jpg", :class => 'photo_link', :rel => '2010Photos', :title => "Photos from The Gift of Food 2010") %>
  </div>
  <div class="span-4 last">
    <%= link_to(image_tag("photos/thumbs/2010-6.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-6.jpg", :class => 'photo_link', :rel => '2010Photos', :title => "Photos from The Gift of Food 2010") %>
  </div>
  
</div>

<div class="span-24 last">
	<h2>Volunteer to be a Team Lead</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>Invite your family and friends to join you on a crisp December day of giving back to your community. Volunteers will be organized into groups of five people (and a vehicle), assigned to a neighborhood where you will walk door to door and collect bags of food that have been left out for this event. Large trucks will be at specified collection points around town for delivery to the Gallatin Valley Food Bank once the event is over.</p>

		<p>If you will recruit a team of 3-5, please sign up as a "Team Lead" and ask that your team members sign up on the website as well so that we can communicate instructions to them.</p>
	</div>
	<div class="span-24 last">
		<%=render 'volunteers/new' %>
	</div>
</div>

<div class="span-24 last">
	<h2>Event Inspiration</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>This event is directly modeled after a twenty year tradition in Butte, MT which is primarily sponsored by Thompson Distributing. The Butte food drive has become a pinnacle event, and continues to be a driving force in the community.</p>
	</div>
</div>

<div class="span-24 last">
	<h2>Principal Sponsors</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>The event is brought to you by the generous support of <%= link_to "Cardinal Distributing", "http://www.cardinaldistributing.com" %>, <%= link_to "Big Sky Western Bank", "https://www.bigskybank.com" %>, and <%= link_to "RightNow Technologies", "http://rightnow.com" %> in conjunction with the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org" %>.</p>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('bigskywb.jpg', :alt => "Big Sky Western Bank Logo", :class => "sponsor_image"), "https://www.bigskybank.com") %>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('rightnow.jpg', :alt => "RightNow Logo", :class => "sponsor_image"), "http://rightnow.com") %>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('cardinal.jpg', :alt => "Cardinal Distributing Logo", :class => "sponsor_image"), "http://www.cardinaldistributing.com") %>
	</div>
	<div class="prepend-1 span-4 append-1 last">
		KTBZ
	</div>
</div>

<div class="span-24 last">
	<h3>Supporting Sponsors</h3>
	<div class="prepend-2 span-20 append-2 last">
		<p>We would also like to thank A.T. Patterson Design, <%= link_to "AgileTask", "https://agiletask.me" %>, <%= link_to "Rosauers", "http://www.rosauers.com" %>, and CP Films for their support. Extensive advertising via print and radio will take place during the weeks prior to December 10th.</p>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('agiletask.png', :alt => "AgileTask Logo", :class => "sponsor_image"), "https://agiletask.me") %>
	</div>
	<div class="prepend-1 span-4 append-1">
		A.T. Patterson Design
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('rosauers.png', :alt => "Rosauers Logo", :class => "sponsor_image"), "http://www.rosauers.com") %>
	</div>
	<div class="prepend-1 span-4 append-1 last">
		CP Films
	</div>
</div>

<div class="span-24 last">
	<h2>Gallatin Valley Food Bank</h2>
	<div class="prepend-2 span-20 append-2 last">
		<ul>
			<li>The Gallatin Valley Food Bank distributed 1.1 million pounds of food during the 2008 – 2009 fiscal year. That is an average of 5,000 pounds of food per day distributed to area families in need.</li>

			<li>The Gallatin Valley Food Bank's Emergency Food Box Program provided food assistance to a total of 3,951 households (8,549 individuals), with unemployment listed as the most common reason for needing assistance.</li>
			
			<li>The average household size served was 2.2 individuals. A record-breaking 13,253 requests were honored, a 21.8% increase over the previous year. This equates to serving 53.3 households per weekday in Bozeman and 3.6 households per Saturday in Belgrade.</li>

			<li>An average of 1,103 households requested assistance from the Gallatin Valley Food Bank each month.</li>

			<li>A majority (65.9%) of households served turn to the Gallatin Valley Food Bank only one to three times a year; only 2.2% of all households served requested assistance each month.</li>

			<li>Approximately one out of every five Gallatin County residents is at risk of food insecurity.</li>

			<li>1 in 10 Gallatin County residents lives at or below the federal poverty line.</li>

			<li>Approximately 154 new families were served each month. In addition to emergency food boxes, the Gallatin Valley Food Bank distributed an additional 1,182 holiday food boxes in the three days before Thanksgiving. During this week, we also provided 4,850 pounds of turkeys and non-perishable items to neighboring food banks.</li>
		</ul>
	</div>
</div>
