<div class="span-12">
	<h1><%= image_tag('logo.jpg', :alt => "The Gift of Food") %></h1>
</div>

<div class="span-12 last">
	<ul id="event_info">
		<li><span>When:</span>December 10, 2011</li>
		<li><span>Time:</span>10am - Noon</li>
		<li><span>Where:</span>Bozeman and Belgrade, Montana</li>
		<li><span>Goal:</span>500 volunteers to collect 45,000 pounds of food for the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org", :target => "_blank" %></li>
	</ul>
</div>

<div class="span-24 last">
	<h2>Come Join Us</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>Invite your family and friends to join you on a crisp December day of giving back to your community. In its first year, 2010, the event raised 14,000 pounds of food and $2,000 for the Gallatin Valley Food Bank. In our efforts to support the Food Bank’s need to support a growing number of families in the Gallatin County, we have set our sights on becoming the Valley's biggest food drive by tripling our impact and raising 45,000 pounds of food this year. A contribution of this size will go far to support the over 1,200 local families that receive emergency food boxes each month. Our efforts are timed to help stock the shelves through the winter and to compliment the US Postal Service food drive that occurs in April and the "Can the Griz" and "Huffing for Stuffing" events that occur in the Fall each year.</p>
		<p>Please help us spread the word about this event! Post it on your Facebook, friend the event, tweet it, yell it, whisper it, do whatever you can to help us reach our audacious goals to help the Food Bank this winter!</p>
	</div>
  
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-1.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-1.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-2.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-2.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-3.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-3.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-4.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-4.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4">
    <%= link_to(image_tag("photos/thumbs/2010-5.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-5.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  <div class="span-4 last">
    <%= link_to(image_tag("photos/thumbs/2010-6.jpg", :alt => "Photo from 2010", :class => "event_photo"), "/assets/photos/2010-6.jpg", :class => 'photo_link', :rel => '2010Photos') %>
  </div>
  
</div>

<div class="span-24 last">
	<h2>Volunteer</h2>
	<div class="prepend-2 span-20 append-2 last">
    <h3><%=@volCount%>/130 volunteer teams = <%=number_to_percentage(@volPercent,:precision => 0)%> of our goal</h3><br />
		<p>We need your help raising 45,000 pounds of food, one bag at a time! Please fill out the volunteer form below and select a neighborhood close to where you live. Volunteers will be expected to pull together a small group of friends and family to join them in making this event a huge success.</p>

		<p>Here is a summary of what we are asking you to do:</p>

		<ol>
			<li><b>Week prior to the event:</b> Distribute grocery bags to the houses in your selected neighborhood sometime in the week prior to the event – ideally the Tuesday, Wednesday, or Thursday of that week. We made the neighborhoods smaller this year knowing that you would be covering them twice.</li>
			<li><b>Day of the event:</b> Collect bags from all of the houses in your selected neighborhood on Saturday, December 10th.  Drop the bags at your assigned drop-off location.</li>
		</ol>

		<p>One week prior to the event organizers of the event will provide your team with grocery bags and an affixed description of the event that can be attached to the doors of all of the houses in your chosen neighborhood in the days leading up to the event. We tested this last year and found that those homes that received bags sometime during the week prior to the event were much more likely to have food out on their porches on the day of the event. In those neighborhoods where the volunteers actually knocked on the doors and explained the event when they dropped off the bags, 80-90% of the homes had bags out for the Saturday pickup.</p>

		<p>On the day of the event, you and your team will check-in at your assigned drop-off location between 9:30-10:30am, receive lanyards for team members to make you all look good and official, and then set out to collect food from your selected neighborhood.  When your team has picked up every last can in your neighborhood, return to the drop-off location to celebrate and fill our semi-trucks full of food!</p>

		<p>Please complete the form below to volunteer! Many thanks.</p>
	</div>
	<div class="span-24 last">
		<%=render 'volunteers/new' %>
	</div>
</div>

<div class="span-24 last">
	<h2>Principal Sponsors</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>The event is brought to you by the generous support of <%= link_to "Cardinal Distributing", "http://www.cardinaldistributing.com", :target => "_blank" %>, <%= link_to "Big Sky Western Bank", "https://www.bigskybank.com", :target => "_blank" %>, <%= link_to "RightNow Technologies", "http://rightnow.com", :target => "_blank" %>, and <%= link_to "KBZK", "http://www.kbzk.com", :target => "_blank" %> in conjunction with the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org", :target => "_blank" %>.</p>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('bigskywb.jpg', :alt => "Big Sky Western Bank Logo", :class => "sponsor_image"), "https://www.bigskybank.com", :target => "_blank") %>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('rightnow.jpg', :alt => "RightNow Logo", :class => "sponsor_image"), "http://rightnow.com", :target => "_blank") %>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('cardinal.jpg', :alt => "Cardinal Distributing Logo", :class => "sponsor_image"), "http://www.cardinaldistributing.com", :target => "_blank") %>
	</div>
	<div class="prepend-1 span-4 append-1 last">
    <%= link_to(image_tag('kbzk.png', :alt => "KBZK Logo", :class => "sponsor_image"), "http://www.kbzk.com", :target => "_blank") %>
	</div>
</div>

<div class="span-24 last">
	<h3>Supporting Sponsors</h3>
	<div class="prepend-2 span-20 append-2 last">
		<p>We would also like to thank A.T. Patterson Design, <%= link_to "AgileTask", "https://agiletask.me", :target => "_blank" %>, <%= link_to "Rosauers", "http://www.rosauers.com", :target => "_blank" %>, and <%= link_to "Montana Aerial Photography", "http://www.jrharrisphoto.com", :target => "_blank" %> for their support.</p>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('agiletask.png', :alt => "AgileTask Logo", :class => "sponsor_image"), "https://agiletask.me", :target => "_blank") %>
	</div>
	<div class="prepend-1 span-4 append-1">
    <div class="non-logo">
      A.T.<br />
      Patterson<br />
      Design
    </div>
	</div>
	<div class="prepend-1 span-4 append-1">
		<%= link_to(image_tag('rosauers.png', :alt => "Rosauers Logo", :class => "sponsor_image"), "http://www.rosauers.com", :target => "_blank") %>
	</div>
	<div class="prepend-1 span-4 append-1 last">
    <div class="non-logo">
    	<%= link_to(image_tag('mtaerial.png', :alt => "Montana Aerial Photography Logo", :class => "sponsor_image"), "http://www.jrharrisphoto.com", :target => "_blank") %>
    </div>
	</div>
</div>

<div class="span-24 last">
	<h2>Event Inspiration</h2>
	<div class="prepend-2 span-20 append-2 last">
		<p>This event is directly modeled after a twenty year tradition in Butte, MT which is primarily sponsored by Thompson Distributing. The Butte food drive has become a pinnacle event, and continues to be a driving force in the community.</p>
	</div>
</div>

<div class="span-24 last">
	<h2>Gallatin Valley Food Bank</h2>
	<div class="prepend-2 span-20 append-2 last">
		<ul>
			<li>The Gallatin Valley Food Bank distributed 1.1 million pounds of food during the 2008 – 2009 fiscal year. That is an average of 5,000 pounds of food per day distributed to area families in need.</li>

			<li>The Gallatin Valley Food Bank's Emergency Food Box Program provided food assistance to a total of 3,951 households (8,549 individuals), with unemployment listed as the most common reason for needing assistance.</li>
			
			<li>The average household size served was 2.2 individuals. A record-breaking 13,253 requests were honored, a 21.8% increase over the previous year. This equates to serving 53.3 households per weekday in Bozeman and 3.6 households per Saturday in Belgrade.</li>

			<li>An average of 1,103 households requested assistance from the Gallatin Valley Food Bank each month.</li>

			<li>A majority (65.9%) of households served turn to the Gallatin Valley Food Bank only one to three times a year; only 2.2% of all households served requested assistance each month.</li>

			<li>Approximately one out of every five Gallatin County residents is at risk of food insecurity.</li>

			<li>1 in 10 Gallatin County residents lives at or below the federal poverty line.</li>

			<li>Approximately 154 new families were served each month. In addition to emergency food boxes, the Gallatin Valley Food Bank distributed an additional 1,182 holiday food boxes in the three days before Thanksgiving. During this week, we also provided 4,850 pounds of turkeys and non-perishable items to neighboring food banks.</li>
		</ul>
	</div>
</div>
