<div class="columns">
  <div class="column is-one-fifth">
    <h1><%= image_tag('sff_logo.jpg', alt: "Spring For Food", width: 200) %></h1>
  </div>

  <div class="column">
    <ul id="event_info">
      <li><span>When:</span>April 6th, 2019</li>
      <li><span>Time:</span>10am - 3pm</li>
      <li><span>Where:</span>Grocery stores around Bozeman and Belgrade, Montana</li>
      <li><span>Goal:</span>Collect food for the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org", :target => "_blank" %></li>
    </ul>
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1 main_image_area">
    <%= image_tag('https://s3.amazonaws.com/media.thegiftoffood.org/food-collection.png', alt: 'Chart show food drive intake for Gallatin Valley Food Bank', class: 'main_event_photo') %>
  </div>
</div>

<div class="columns">
  <div class="column is-8 is-offset-2">
    <h2>What Can You Do?</h2>
    <div class="prepend-2 span-20 append-2 last">
      <p class="what-description">A team of volunteers will be on hand to help load your items between 10 &amp; 3. Food donations can be made at: Albertsons, Community Co-op, Heeb’s, Rosauers, Safeway, Smiths, Town &amp; Country Foods, Walmart</p>
      <h3 class="facebook-link"><a href="https://www.facebook.com/springforfood">Join Us On Facebook</a></h3>
    </div>

    <h3>Monetary Donation:</h3>
    <p class="what-description">If you would like to donate some money towards this year's food drive, you can do so through the Gallatin Valley Food Bank's secure website. You can also join in on the fun and create your own fundraising page or a team page! Follow the link and click the green "become a fundraiser" button.</p>
    <p class="donate_button"><%= link_to(image_tag('donate.jpg', alt: "Donate Now", width: 250), 'https://gallatinvalleyfoodbank.org/#donate', :class => "donate_link") %></p>
  </div>
</div>

<div class="columns event_photos">
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/helicopter.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/helicopter.jpg", :class => 'photo_link', :rel => 'Photos') %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/dog-bone.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/dog-bone.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/2010-5.jpg", class: 'main_event_photo'), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/2010-5.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/truck.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/truck.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/loading-box.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/loading-box.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
  <div class="column">
    <%= link_to(image_tag("https://s3.amazonaws.com/media.thegiftoffood.org/photos/thumbs/2010-6.jpg", :class => "event_photo"), "https://s3.amazonaws.com/media.thegiftoffood.org/photos/2010-6.jpg", :class => "photo_link", :rel => "Photos") %>
  </div>
</div>

<div class="columns">
  <div class="column is-8 is-offset-2">
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <h2>Gallatin Valley Food Bank</h2>

    <div class="">
      <p><strong>GVFB Mission:</strong> To improve food security throughout Gallatin Valley and Southwest Montana</p>
      <p>HRDC – Food and Nutrition Programs:</p>
      <p>Includes Gallatin Valley Food Bank, Community Café, Summer Lunch, Kidspack, Senior Groceries, Big Sky Community Food Bank and Headwaters Area Food Bank</p>
      <ul>
        <li>The Gallatin Valley Food Bank serves an average 1,361 households (roughly 3,204 individuals) every month through the Emergency Food Box Program at our Bozeman location and our satellite service in Belgrade.</li>
        <li>On average, 5,983 pounds (2.99 tons) of food are distributed to families every day.</li>
        <li>16% of households are single parent families, 34% of households have at least one child, 13% are 55 or older, and 287 are veterans.</li>
        <li>During the 2016-2017 fiscal year end the Gallatin Valley Food Bank distributed 2,000,486 pounds of food.</li>
        <li>Out of the total, 136,613 pounds of food went to other area non-profits, the Community Café, CSFP and KidsPack. All this took an extraordinary effort by hundreds of volunteers and dedicated staff.</li>
        <li>Volunteers are vital to fighting hunger. Our volunteers are the backbone of our efforts, during the last fiscal year our volunteers contributed tens of thousands of hours to help alleviate hunger in the Gallatin Valley.
      </ul>
      <p>These are the Food and Nutrition Programs of the Human Resource Development Council.  By assisting with Spring for Food you help so many!</p>
    </div>

    <div class="food_bank_logo_area">
      <%= link_to(image_tag('food_bank_logo.png', :alt => "Gallatin Valley Food Bank", :class => "food_bank_logo"), "http://www.gallatinvalleyfoodbank.org") %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1">
    <h2>Principal Sponsors</h2>
    <div class="">
      <p>The event is brought to you by the generous support of <%= link_to "Cardinal Distributing", "http://www.cardinaldistributing.com", :target => "_blank" %>, <%= link_to "Big Sky Western Bank", "https://www.bigskybank.com", :target => "_blank" %>, and <%= link_to "KBZK", "http://www.kbzk.com", :target => "_blank" %> in conjunction with the <%= link_to "Gallatin Valley Food Bank", "http://www.gallatinvalleyfoodbank.org", :target => "_blank" %>.</p>
    </div>
    <div class="">
      <%= link_to(image_tag('bigskywb.jpg', :alt => "Big Sky Western Bank Logo", :class => "sponsor_image"), "https://www.bigskybank.com") %>
    </div>
    <div class="">
      <%= link_to(image_tag('cardinal.jpg', :alt => "Cardinal Distributing Logo", :class => "sponsor_image"), "http://www.cardinaldistributing.com") %>
    </div>
    <div class="">
      <%= link_to(image_tag('kbzk.png', :alt => "KBZK Logo", :class => "sponsor_image"), "http://www.kbzk.com") %>
    </div>
  </div>
</div>

