<h1>Volunteer Team Leads</h1>

<table class="no-zebra">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Company</th>
    <th>Neighborhood</th>
  </tr>
  <% @volunteers.each do |v| %>
    <tr>
      <td><%=link_to v.last_name + ', ' + v.first_name, edit_admin_volunteer_path(v) %></td>
      <td><%=mail_to v.email %></td>
      <td>
        <% if v.is_mobile? %>
          M: <%=v.phone %>
        <% else %>
          L: <%=v.phone %>
        <% end %>
      </td>
      <td><%=v.company %></td>
      <td>
        <% if !v.neighborhood.nil? %>
          <%=v.neighborhood.name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="unique_emails span-24 last">
    <h4>Email Addresses (remember to use BCC):</h4>
    <textarea class="span-24 last"><%= @uniq_emails * "; " %></textarea>
</div>

<%=link_to "Download list as CSV", "/admin/volunteers.csv" %>
