<h1>Volunteer Team Leads</h1>

<table class="no-zebra">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Company</th>
    <th>Neighborhood</th>
    <th>Drop Location</th>
  </tr>
  <% @volunteers.each do |v| %>
    <tr>
      <td><%=link_to v.last_name + ', ' + v.first_name, edit_admin_volunteer_path(v) %></td>
      <td><%=mail_to v.email %></td>
      <td>
        <% if v.is_mobile? %>
          M: <%=v.phone %>
        <% else %>
          L: <%=v.phone %>
        <% end %>
      </td>
      <td><%=v.company %></td>
      <td>
        <% if !v.neighborhood.nil? %>
          <%=v.neighborhood.name %>
        <% end %>
      </td>
      <td><%= locations[v.neighborhood.drop_location][0] %></td>
    </tr>
  <% end %>
</table>

<div class="unique_emails span-24 last">
  <div class="span-12">
    <h4>Email Addresses (remember to use BCC):</h4>
  </div>
  <div class="drop_location_select span-12 last">
    <span>Drop Location: </span><%= select_tag "drop_location", options_for_select(locations) %>
  </div>
  <textarea class="span-24 last"><%= @all_emails %></textarea>
</div>

<div class="span-24 last"><%=link_to "Download list as CSV", "/admin/volunteers.csv" %>&nbsp;|&nbsp;<%=link_to "Print map with volunteer names", admin_volunteers_maps_path %></div>
