<div><%=n.label :name, "Name" %><%=n.text_field :name %></div>
<div><%=n.label :region, "Region" %><%=n.text_field :region %></div>
<div><%=n.label :drop_location, "Drop Location" %><%=n.text_field :drop_location %></div>
<div><%=n.submit "Save" %></div>
